#navbarTop {
    width: 100vw;
    height: 4.7rem;
    background-color: #ffffff;
    top: 0;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.09);
    position: sticky;
    z-index: 100;
  }

  .logoPic {
    height: 29px;
    width: 29px;
    position: absolute;
    top: 7%;
    left: 3px;
  }
  .Pixelgram {
    height: 25px;
    width: 80px;
    position: absolute;
    top: 9px;
    left: 47%;
  }

  .verticalBar {
    width: 1px;
    height: 33px;
    background-color: #000000;
    position: absolute;
    left: 35%;
  }
  .logos_container {
    position: absolute;
    left: 17%;
    right: 71.1%;
    top: 22px;
    bottom: 27.82%;
    height: 34px;
    width: 166px;
  }