<div class="form-container">
    
    <a href="#"><img src="../../assets/images/PixelgramLogo.png" alt="" class="logoPic"></a>
    <div class="bar"></div>
    <img src="../../assets/images/Login.png" alt="" class="login">
    
    <input type="text" class="username" id="userN" (click)="checkInputStatus()" placeholder="Username...">
    <p class="requiredText" id="userText" *ngIf="isEmpty">* Username is required</p>

    <input type="text" class="password" placeholder="Password...">
    <p class="requiredText" id="passText">* Password is required</p>

    <button class="loginSubmit" type="submit">Login</button>
    <button class="registerSubmit" type="submit">Register</button>
    
    <p class="requiredText" id="incorrectText">* Username or Password incorrect</p>

</div>
