  /* Profile Section */
  /* style DELETE POST FEATURE HERE */

  .post-img {
    width: 600px;
    height: 605px;
    display: block;
    margin: auto;
}
.post-container {
  height: 821px;
  width: 601px;
  display: block;
  margin: 1% auto;
  margin-bottom: 5%;
  box-sizing:border-box;
  border: 1px solid #E6E6E6;
  position: relative;
  top: 42px;
  border-radius: 2px;
}
.UserProfileContainer {
    height: 60px;
    width: 600px;
}
.description-container{
  width: 600px;
  height: 154px;
  background-color: rgb(255, 255, 255);
  margin: auto;
}
.likes-comments{
  width: 600px;
  height: 20px;
  background-color: antiquewhite;
  margin-top: 15px;
}
.heart{
  background-color: white;
  margin-left: 18px;
  margin-top: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(38, 38, 38, 1);
  position: relative;
  top: 10px;
}
.likeCount{
  width: 50px;
  height: 18px;
  background-color: white;
  margin-left: 4.2px;
  margin-top: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(171, 171, 171, 1);
  position: relative;
  top: 7px;
}
.commentCount{
  width: 90px;
  height: 18px;
  margin-left: 8px;
  margin-top: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(171, 171, 171, 1);
  position: relative;
  top: 7px;
}
.userTitle{
  height: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 17.5px;
  color: rgba(38, 38, 38, 1);
}

.userTitle a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.firstLineText{
  height: 18px;
  width: 546px;
  margin-left: 8px;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: rgba(0, 0, 0, 1)
}
.moreDescription{
  width: 34px;
  height: 18px;
  margin-left: 4px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: rgba(171, 171, 171, 1)
}
/*.viewMoreComments{
  width: 142px;
  height: 18px;
  margin-left: 18px;
  margin-top: 6px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(171, 171, 171, 1);
  text-decoration: none; 
}*/
.textContainer{
  margin-left: 18px;
  margin-bottom: 6px;
  margin-top: 13px;
  margin-right: 40px;
}
.user-container{
    width: 600px;
    height: 60px;
    position: relative;
    display: block;
    margin: auto;
    background-color: rgb(255, 255, 255);
    }
    .profileImg{
        width: 40px;
        height: 40px;
        margin-left: 11px;
        margin-top: 14px;
        position: relative;
    }
    .username{
        margin-left: 11px;
        margin-top: 14px;
        position: relative;
        bottom: 25%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        font-size: 15px;
        text-decoration: none;
        color: black;
    }
    
    

.hamburger {
  display: block;
  position: absolute;
  
}
.deletePost{
    width: 32px;
    height: 26px;
    background-color: rgba(143,143,143,0.19);
    text-align: center;
    position: absolute;
    bottom: 25%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    color: black;
    right: 1.50%;
    border: none;
}
.deletePost:hover {
  background-color: rgba(28, 26, 26, 0.19);
  cursor: pointer;
}

.delete{
width: 102px;
height: 47px;
background-color: rgba(255,255,255,1);
text-align: center;
position: absolute;
bottom: 30%;
right: 2.5%;
top: 80%;
left: 30%;
border: 1px solid #E6E6E6;
border-radius: 3px;
cursor: pointer;
display: none;
}

.deletePost:hover button{
  display: block;
}


