<head>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <title>Posts</title>
</head>

    <div class="post-container">
      <div class="user-container">
        <img class="profileImg" src="https://avatars.githubusercontent.com/u/82592?s=200&v=4?w=200&h=200&fit=crop&crop=faces" alt="" >
        <a href="#" class="username">Tanner {{postData.post.id}}</a>

        <div class="deletePost">...
            <button class="delete">Delete Post</button>
        </div>

      </div>
      <img src={{postData.post.img}} alt="" class="post-img">
      <div class="description-container">    
        <span class="heart"><em class="ri-heart-3-line ri-xl"></em></span>
        <span class="likeCount">12 likes</span>
        <span class="commentCount">14 comments</span>
      <div class="textContainer">
          <p><span class="userTitle"><a href="#">Tanner</a> {{postData.post.id}}</span>
            <span class="firstLineText">{{postData.post.description}}</span>
            <span class="moreDescription" *ngIf="postData.post.description.length > 50">more</span><br>
          </p>
          </div>
        </div>
      <app-comment [comments] = "comments" [postId]="postData.post.id"></app-comment>

      </div>
      