<style>
    /* Profile Section */
  
  /* style DELETE POST FEATURE HERE */
  
  .DeletePost {
      float: right;
      padding-right: 33rem;
      padding-top: 2rem
  }
  
  .userprofile {
      padding: 5rem 0;
      height: 60px;
      width: 600px;
      }
  
      .userprofile::after {
          content: "";
          display: block;
          clear: both;
      }
  
      .userprofile-image {
          float: left;
          width: calc(15% - 1rem);
          display: flex;
          justify-content: right;
          align-items: right;
      }
  
  
      .img {
          border-radius: 50%;
          border: 10px solid;
      }
  
      .userprofile-user-settings {
          margin-top: 1.1rem;
      }
  
      .userprofile-user-name {
          display: inline-block;
          font-size: 3.2rem;
          font-weight: 300;
          text-align: left;
          margin-top: auto;
          padding-top: 5rem;
          padding-left: 1rem;
      }
  
      .post-img {
          width: 600px;
          height: 605px;
          display: block;
          margin: auto;
      }
      .post-container {
        height: 828px;
        width: 616px;
        display: block;
        margin:auto;
        box-sizing:border-box;
        border-radius: 1px solid grey;
      }
  
      .UserProfileContainer {
          height: 60px;
          width: 600px;
  
      }
  
  * {
    margin: 0;
    padding: 0;
  }
      .description-container{
        width: 600px;
        height: 154px;
        background-color: teal;
        margin: auto;
  
      }
  
 
  
  </style>
  <!--<div class="post-container">-->
  <!--  <div class="UserProfileContainer">-->
  <!--    <div class="userprofile">-->
  <!--          <span class="userprofile-image">-->
  <!--              <img class="img" src="https://avatars.githubusercontent.com/u/82592?s=200&v=4?w=200&h=200&fit=crop&crop=faces" alt="">-->
  <!--          </span>-->
  <!--      <span><h1 class="userprofile-user-name">{{username}}</h1></span>-->
  
  <!--      <span class="DeletePost">-->
  <!--              <h1 class="DeletePost">...</h1>-->
  <!--        &lt;!&ndash;delete post button here&ndash;&gt;-->
  <!--          </span>-->
  <!--    </div>-->
  <!--  </div>-->
  
    <img src="https://images.unsplash.com/photo-1611915387288-fd8d2f5f928b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max" alt="" class="post-img">
      <div class="description-container">
  
        <p><span class="description">Tanner</span> Views</p>
      </div>
  
  
  
  