  <head>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>
    <title>NavBar</title>
  </head>
  
  <header id="navbarTop">
    <div class="logos_container">
        <img src="../../assets/PixelgramLogo.png" alt="" class="logoPic">
        <div class="verticalBar"></div>
        <img src="../../assets/Pixelgram.png" alt="" class="Pixelgram">
    </div>
  
    
      <div class="searchIcon">
        <input class="searchBar" type="text" placeholder="Search">
      </div>
    
    
      <em class="ri-user-3-line ri-2x" id="userIcon"></em>
    
    <!-- <button type="button" class="login" (click)="goTo('#')">Login</button> -->
  </header>
  

  <!-- <div class="sb-example-1">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="What are you looking for?">
       <button type="submit" class="searchButton">
         <i class="fa fa-search"></i>
      </button>
    </div>
 </div> -->