  <head>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>
    <title>NavBar</title>
  </head>
  
  <header id="navbarTop">
    <div class="logos_container">
        <button><img src="../../assets/images/PixelgramLogo.png" alt="" class="logoPic"></button>
        <div class="verticalBar"></div>
        <button><img src="../../assets/images/Pixelgram.png" alt="" class="Pixelgram"></button>
    </div>
  
      <div class="searchIcon" *ngIf="router.url === '/'">
        <input class="searchBar" type="text" placeholder="Search">
      </div>
      
      <em class="ri-user-3-line ri-2x" id="userIcon" (click)="showLoginButton()" *ngIf="router.url === '/'"></em>
      <button type="button" class="login" *ngIf="isVisible && router.url === '/'" routerLink="/login" routerLinkActive="active">{{Login?"Login":"Login"}}</button>

  </header>