<style>



</style>
<div class="UserProfileContainer">
    <div class="userprofile">
         <span class="userprofile-image">
             <img class="profileImg" src="https://avatars.githubusercontent.com/u/82592?s=200&v=4?w=200&h=200&fit=crop&crop=faces" alt="">
         </span>
         <span class="userprofile-user-name">Name</span>
 
         <span class="DeletePost">
             <h1 class="DeletePost">...</h1>
             <!--delete post button here-->
         </span>
    </div>
 </div>
